* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.task-input-container {
  background-color: rgb(224, 248, 248);
  border-radius: 10px;

  .task-form-input {
    width: 75%;
    border-radius: 5px;

    @media (min-width: 768px) {
      width: 400px;
    }
  }
}

.remove-btn {
  border: 1px solid black;
  color: red;
  background-color:aliceblue;
  padding: 3px;
  cursor: pointer;
}

.tasks-container {
  background-color: rgb(224, 248, 248);
  width: 50%;
  margin: auto;
}

.task {
  padding: 1rem;
}
